
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.navbar{
    background-color: rgb(71, 255, 47) !important;
    height: 70px;
    
}
body{
    background-color: aliceblue !important;
    font-family: 'Roboto',sans-serif;
   

}
.submit:hover{
   background-color: white;
   color: aqua !important;
}

